/* debug rules */
.debug {
    background-color: blue;
}
.debug .container {
    height: 5000px;
}
.debug .row {
    background-color: chocolate;
}
.debug .col-1 {
    background-color: cornflowerblue;
}

/*****************
MAIN 
*****************/
.row > div {
    height: 100%;
    border: 1px solid black;
    text-align: center;
  }
.row > div h1 {
    font-size: 1rem;
    margin-top: 5rem;

}