/* reset rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common rules */
.container {
    max-width: 800px;
    margin: 3rem auto;
  }

.row {
    width: 100%;
    height: calc(800px / 22);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

/* column modules */
.col-1 { width: calc((100% /22) * 1); }
.col-2 { width: calc((100% /22) * 2); }
.col-3 { width: calc((100% /22) * 3); }
.col-4 { width: calc((100% /22) * 4); }
.col-5 { width: calc((100% /22) * 5); }
.col-6 { width: calc((100% /22) * 6); }
.col-7 { width: calc((100% /22) * 7); }
.col-8 { width: calc((100% /22) * 8); }
.col-9 { width: calc((100% /22) * 9); }
.col-10 { width: calc((100% /22) *10); }
.col-11 { width: calc((100% /22) * 11); }

/* space modules */
.col-offset-1 { margin-left: calc((100% /22) * 1); }
.col-offset-2 { margin-left: calc((100% /22) * 2); }
.col-offset-3 { margin-left: calc((100% /22) * 3); }
.col-offset-4 { margin-left: calc((100% /22) * 4); }
.col-offset-5 { margin-left: calc((100% /22) * 5); }
.col-offset-6 { margin-left: calc((100% /22) * 6); }
.col-offset-7 { margin-left: calc((100% /22) * 7); }
.col-offset-8 { margin-left: calc((100% /22) * 8); }
.col-offset-9 { margin-left: calc((100% /22) * 9); }
.col-offset-10 { margin-left: calc((100% /22) * 10); }
.col-offset-11 { margin-left: calc((100% /22) * 11); }